.button-right {
    position: relative;
    top: 20px;
    font-size: 14px;
    font-family: arial, sans-serif;
    width: 100px;
    cursor: pointer;
    border: none;
    background-color: royalblue;
    color: white;
}
.gmail-right {
    position: relative;
    top: 20px;
    font-size: 13px;
    font-family: Arial, sans-serif;
}
.image-right {
    position: relative;
    top: 20px;
    font-size: 13px;
    font-family: Arial, sans-serif;
}
.google-apps {
    position: relative;
    top: 18px;
    right: 130px;
    width: 20px;
}
.about-left {
    position: relative;
    left: 30px;
    top: 20px;
    font-size: 14px;
    font-family: arial, sans-serif;
}
.store-left {
    position: relative;
    left: 80px;
    top: 20px;
    font-size: 14px;
    font-family: arial, sans-serif;
}
.google {
    position: relative;
    left: 500px;
    top: 50px;
}
.search-bar {
    position: relative;
    left: 445px;
    top: 150px;
    width: 30%;
}
.search {
    position: relative;
    left: 530px;
    top: 200px;
}
.lucky {
    position: relative;
    left: 650px;
    top: 200px;
}
.ads {
    position: relative;
    left: 30px;
    bottom: 20px;
    font-family: arial, sans-serif;
    font-size: 14px;
}
.business {
    position: relative;
    left: 120px;
    bottom: 20px;
    font-family: arial, sans-serif;
    font-size: 14px;
}
.how-to {
    position: relative;
    left: 200px;
    bottom: 20px;
    font-family: arial, sans-serif;
    font-size: 14px;
}
.carbon {
    position: relative;
    left: 550px;
    bottom: 20px;
    font-family: arial, sans-serif;
    font-size: 14px;
}
.privacy {
    position: relative;
    right: 170px;
    bottom: 20px;
    font-family: arial, sans-serif;
    font-size: 14px;
}
.terms {
    position: relative;
    right: 105px;
    bottom: 20px;
    font-family: arial, sans-serif;
    font-size: 14px;
}
.settings {
    position: relative;
    right: 30px;
    bottom: 20px;
    font-family: arial, sans-serif;
    font-size: 14px;
}



        
